* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

#container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Header */

.header_inner {
  min-height: 249px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Burger */

.burger_icon {
  display: none;
}

/* Navigation */

.nav_list {
  display: flex;
}

.nav_item:not(:first-child) {
  margin-left: 80px;
}

.nav_item_link {
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

/* Corousel */

.slick-slide img {
  width: 100%;
}

.carousel {
  margin-bottom: 42px;
}

/* Description */
.description {
  margin-bottom: 42px;
}

.description_text {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

/* History */
.history {
  margin-bottom: 60px;
}

.history_title {
  margin-bottom: 60px;
}

.history_content {
  display: flex;
  justify-content: space-between;
}

.history_item {
  max-width: 500px;
  max-height: 394px;
  background-color: #000;
  padding: 50px;
  display: flex;
  align-items: center;
}

.history_item_year {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: #fff;
  display: inline-block;
  width: 110px;
}

.history_item_text {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

/* Contact us */

.contact_title {
  margin-bottom: 47px;
}

.form {
  position: relative;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid #000000;
  position: relative;
  padding: 10px 250px 10px 10px;
  font-size: 18px;
  line-height: 1.2;
}

textarea::placeholder {
  position: absolute;
  top: 49px;
  left: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
}

.send_btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 200px;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  border-radius: 8px;
}

.send_btn:hover {
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
