* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

#container {
  max-width: 1024px;
  margin: 0 auto;
}

/* header */

.header-inner {
  min-height: 249px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* burger */
.burger-icon {
  display: none;
}

/* Navigation */
.nav-list {
  display: flex;
}

.nav-item:not(:first-child) {
  margin-left: 80px;
}

.nav-item-link {
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

/* Carousel */
.slick-slide img {
  width: 100%;
}
